

@mixin menu-link-base {
  display: block;
  padding: var(--menu-link-padding);
  text-decoration: none;
  text-align: center;
  // Folosim variabile CSS pentru culorile tematice
  color: var(--color-text-light); 
  background-color: var(--color-primary);
  transition: background-color var(--transition-speed) ease;
}